# clasificación usando DNN

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt 
%matplotlib inline

** Cargar iris.csv ** (+0.5) y mostrar los primeros datos

In [2]:
iris = pd.read_csv('iris.csv')

In [3]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

0. setosa, 
1. versicolor, 
2. virginica

In [4]:
iris.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')

** Separar las etiquetas de las características y  escalar los datos **

In [5]:
Y=iris['Species']

In [6]:
X=iris.drop('Species',axis=1)

In [7]:
X.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

In [8]:
Y.head()

0    2
1    1
2    2
3    0
4    0
Name: Species, dtype: int64

** separar los datos en pruebas (0.20) y entrenamiento **

In [9]:
    from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [11]:
X_test.shape

(30, 4)

In [12]:
X_train.shape

(120, 4)

** Cargar MinMaxScaler **  y normalizar X_train y X_test

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler = MinMaxScaler()

In [15]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [16]:
X_train.head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
24           7.2         3.0          5.8         1.6
121          6.9         3.1          5.4         2.1
143          6.3         2.5          4.9         1.5
145          6.1         3.0          4.6         1.4
83           5.6         2.7          4.2         1.3

In [17]:
X_train= pd.DataFrame(data=scaler.transform(X_train),columns=X_train.columns,index=X_train.index)

In [18]:
X_test= pd.DataFrame(data=scaler.transform(X_test),columns=X_test.columns,index=X_test.index)

In [19]:
X_train.head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
24      0.805556    0.416667     0.813559    0.625000
121     0.722222    0.458333     0.745763    0.833333
143     0.555556    0.208333     0.661017    0.583333
145     0.500000    0.416667     0.610169    0.541667
83      0.361111    0.291667     0.542373    0.500000

In [20]:
X_test.head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
14      0.944444    0.750000     0.966102    0.875000
90      0.611111    0.416667     0.711864    0.791667
136     0.388889    0.250000     0.423729    0.375000
44      0.111111    0.500000     0.101695    0.041667
79      0.583333    0.291667     0.728814    0.750000

** Crear las columnas para hacer la clasificación y un vector que las contenga **

In [21]:
iris.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')

In [22]:
sepalL = tf.feature_column.numeric_column('SepalLength')
sepalW= tf.feature_column.numeric_column('SepalWidth')
petalL = tf.feature_column.numeric_column('PetalLength')
petalW = tf.feature_column.numeric_column('PetalWidth')

In [23]:
feat_cols =[sepalL,sepalW,petalL,petalW]

In [24]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train,
                                                batch_size=10, 
                                                 num_epochs=1000, 
                                                 shuffle=True)

** Crear un modelo denso de [20,20,20] y entrenar por 1000 iteraciones, tamaño de los lotes = 10**

In [25]:
modeloDenso= tf.estimator.DNNClassifier(hidden_units=[20,20,20], feature_columns=feat_cols,n_classes=3)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpmyg0lxi7
INFO:tensorflow:Using config: {'_keep_checkpoint_every_n_hours': 10000, '_tf_random_seed': 1, '_session_config': None, '_save_checkpoints_secs': 600, '_model_dir': '/tmp/tmpmyg0lxi7', '_log_step_count_steps': 100, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5}

In [26]:
modeloDenso.train(input_fn=input_func, steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpmyg0lxi7/model.ckpt.
INFO:tensorflow:step = 1, loss = 11.2747
INFO:tensorflow:global_step/sec: 176.169
INFO:tensorflow:step = 101, loss = 1.84675 (0.587 sec)
INFO:tensorflow:global_step/sec: 126.349
INFO:tensorflow:step = 201, loss = 0.73994 (0.787 sec)
INFO:tensorflow:global_step/sec: 101.481
INFO:tensorflow:step = 301, loss = 1.81319 (0.977 sec)
INFO:tensorflow:global_step/sec: 166.885
INFO:tensorflow:step = 401, loss = 1.53164 (0.599 sec)
INFO:tensorflow:global_step/sec: 164.947
INFO:tensorflow:step = 501, loss = 1.24769 (0.607 sec)
INFO:tensorflow:global_step/sec: 121.101
INFO:tensorflow:step = 601, loss = 0.483914 (0.834 sec)
INFO:tensorflow:global_step/sec: 156.405
INFO:tensorflow:step = 701, loss = 0.0962518 (0.626 sec)
INFO:tensorflow:global_step/sec: 160.587
INFO:tensorflow:step = 801, loss = 0.0578479 (0.627 sec)
INFO:tensorflow:global_step/sec: 167.605
INFO:tensorflow:step = 901, loss = 1.36115 (0.597 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpmyg0lxi7/model.ckpt.
INFO:tensorflow:Loss for final step: 1.9741.

In [27]:
evaluaction_fun = tf.estimator.inputs.pandas_input_fn(x=X_test, y=y_test,batch_size=10,num_epochs=1,shuffle=False)

In [28]:
resultados= modeloDenso.evaluate(evaluaction_fun)

INFO:tensorflow:Starting evaluation at 2018-06-27-17:07:19
INFO:tensorflow:Restoring parameters from /tmp/tmpmyg0lxi7/model.ckpt-1000
INFO:tensorflow:Finished evaluation at 2018-06-27-17:07:19
INFO:tensorflow:Saving dict for global step 1000: accuracy = 1.0, average_loss = 0.005681, global_step = 1000, loss = 0.05681

In [29]:
input_func_pred = tf.estimator.inputs.pandas_input_fn(x=X_test,                                                       
                                                 batch_size=10, 
                                                 num_epochs=1, 
                                                 shuffle=False)

In [30]:
predicciones=modeloDenso.predict(input_func_pred)

In [31]:
preds = []
for pred in modeloDenso.predict(input_func_pred):
    preds.append(pred['class_ids'])

INFO:tensorflow:Restoring parameters from /tmp/tmpmyg0lxi7/model.ckpt-1000

In [32]:
np.asarray(preds)

array([[2],
       [2],
       [1],
       [0],
       [2],
       [1],
       [0],
       [2],
       [0],
       [0],
       [2],
       [0],
       [1],
       [0],
       [1],
       [1],
       [2],
       [1],
       [2],
       [0],
       [1],
       [2],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [2]])

mostrar metricas de rendimiento

In [33]:
from sklearn.metrics import classification_report

In [34]:
print(classification_report(y_test,np.asarray(preds)))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        11
          1       1.00      1.00      1.00        10
          2       1.00      1.00      1.00         9

avg / total       1.00      1.00      1.00        30